<!-- Clase que contiene el HTML de la vista de alerta (Empleada para listar en la tabla las alertas existentes) -->
<div class="container animated fadeIn fast" id="div-tabla" id="fuente-general">
    <button [routerLink]="['/alert/add_alert']" class="btn btn-outline-primary btn-lg">Nueva Alerta</button>
    <br><br><br>
    <h3>Lista de Alertas</h3>
    <form>
        <input type="search" name="search" aria-label="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Buscar">&nbsp;&nbsp;
    </form>
    <br>
    <table class="table col-6 table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Observación</th>
                <th scope="col">Tipo de Alerta</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alert of arrayAlerts | filter:searchText">
                <td> {{alert.id_alerta}} </td>
                <td> {{alert.nombre_alerta}} </td>
                <td> {{alert.observacion_alerta}} </td>
                <td> {{alert.tipo_alerta}} </td>
                <td>
                    <a [routerLink]="['/alert/edit_alert',alert.id_alerta]" class="btn btn-outline-primary btn-lg">
                        Editar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>