
<div class="container animated fadeIn" id="main-container">
<div class="card">
<article class="card-body">
<a href="" class="float-right btn btn-outline-primary">Registrarse</a>
<h4 class="card-title mb-4 mt-1">Iniciar Sesión</h4>
	 <form>
    <div class="form-group">
    	<label>Usuario</label>
        <input name="" class="form-control" placeholder="Usuario" type="email">
    </div> <!-- form-group// -->
    <div class="form-group">
    	<a class="float-right" href="#">¿Olvidó su contraseña?</a>
    	<label>Contraseña</label>
        <input class="form-control" placeholder="******" type="password">
    </div> <!-- form-group// --> 
    <div class="form-group"> 
    <div class="checkbox">
      <label> <input type="checkbox"> Guardar Contraseña </label>
    </div> <!-- checkbox .// -->
    </div> <!-- form-group// -->  
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary"> Iniciar  </button>
    </div> <!-- form-group// -->                                                           
</form>
</article>
</div> <!-- card.// -->
</div>