<div class="container animated fadeIn" id="main-container">
    <h1>Alerta</h1>
    <hr>
    <form [formGroup]="forma" (ngSubmit)="guardarCambios()">
        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">ID</label>
                <div class="col-2">
                    <input class="form-control" type="text" placeholder="ID" name="id" disabled>
                </div>
            </div>
            <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('nombre').valid }">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-6">
                    <input class="form-control" type="text" formControlName="nombre">
                    <div *ngIf="forma.controls['nombre'].errors?.required" class="form-control-feedback">
                        Este campo es requerido
                    </div>
                    <div *ngIf="forma.controls['nombre'].errors?.minlength" class="form-control-feedback">
                        Por lo menos {{ forma.controls['nombre'].errors?.minlength.requiredLength }} caracteres.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Estacion</label>
                <div class="col-6">
                    <select class="form-control" id="Select">
                        <option>Seleccione una opcion</option>
                        <option>Menga</option>
                        <option>Sena</option>
                        <option>Salomia</option>
                        <option>Yumbo</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('observacion').valid }">
                <label class="col-2 col-form-label">Observacion</label>
                <div class="col-6">
                    <textarea class="form-control" id="Textarea1" rows="4" formControlName="observacion"></textarea>
                    <div *ngIf="forma.controls['observacion'].errors?.maxlength" class="form-control-feedback">
                        Maximo {{ forma.controls['observacion'].errors?.maxlength.requiredLength }} caracteres.
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Medio de envio</label>
                <div class="col-7">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">E-mail</label>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Sms</label>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Fax</label>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Ventana Emergente</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group row" id="caja-botones">
            <label class="col-1 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary">
                    Nuevo
                </button>&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-outline-primary">
                    Editar
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                    Guardar
                </button>
            </div>
        </div>
    </form>

    <div class="container">
        <h3>Lista de Alertas</h3>
        <hr>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control col-4" type="search" placeholder="Buscar" aria-label="search">
            <button type="submit" class="btn btn-outline-primary">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </form>

        <br>
        <table class="table col-12">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Estacion</th>
                    <th scope="col">Obervacion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Rojo</td>
                    <td>..</td>
                    <td>..</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Amarillo</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Verde</td>
                    <td>.. </td>
                    <td>..</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>