<div class="container animated fadeIn fast" id="div-tabla" id="fuente-general">
    <button [routerLink]="['/category/add_category']" class="btn btn-outline-primary btn-lg">Nueva Categoria</button>
    <br><br><br>
    <h3>Lista de Categorias</h3>
    <form>
        <input type="search" name="search" aria-label="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Buscar">&nbsp;&nbsp;
    </form>
    <br>
    <table class="table col-6 table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Obervacion</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of arrayCategories | filter:searchText">
                <td> {{category.id_categoria}} </td>
                <td> {{category.nombre_categoria}} </td>
                <td> {{category.observacion_categoria}} </td>
                <td>
                    <a [routerLink]="['/category/edit_category',category.id_categoria]" class="btn btn-outline-primary btn-lg">
                        Editar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>