<div class="container animated fadeIn fast" id="div-tabla" id="fuente-general">
    <button [routerLink]="['/organization/add_organization']" class="btn btn-outline-primary btn-lg">Nueva organización</button>
    <br><br><br>
    <h3>Lista de Organizaciones</h3>
    <form>
        <input type="search" name="search" aria-label="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Buscar">&nbsp;&nbsp;
    </form>
    <br>
    <table class="table col-6 table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre organización</th>
                <th scope="col">Obervación</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let organization of arrayOrganizations | filter:searchText">
                <td> {{organization.id_organizacion}} </td>
                <td> {{organization.nombre_organizacion}} </td>
                <td> {{organization.observacion_organizacion}} </td>
                <td>
                    <a [routerLink]="['/organization/edit_organization',organization.id_organizacion]" class="btn btn-outline-primary btn-lg">
                        Editar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
