<div class="container animated fadeIn fast" id="main-container" id="fuente-general">
    <h1>Region</h1>
    <hr>
    <form [formGroup]="forma">
        <div>
            <!--  <div class="form-group row">
                <label class="col-2 col-form-label">ID</label>
                <div class="col-2">
                    <input class="form-control" type="text" name="id" disabled="false">
                </div>
            </div>-->
            <div class="form-group row" [ngClass]="{'has-danger': !forma.get('nombre').valid}">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-6">
                    <input [(ngModel)]="region.nombre_region" class="form-control" formControlName="nombre" type="text"
                        autofocus id="textNombre" id="tamaño-fuente-input">
                    <div *ngIf="forma.controls['nombre'].errors?.required" class="form-control-feedback" id="tamaño-fuente-alerta">
                        Este campo es requerido
                    </div>

                    <div *ngIf="forma.controls['nombre'].errors?.minlength" class="form-control-feedback" id="tamaño-fuente-alerta" >
                        Por lo menos {{forma.controls['nombre'].errors?.minlength.requiredLength}} caracteres
                    </div>
                </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': !forma.get('observacion').valid}">
                <label class="col-2 col-form-label">Observacion</label>
                <div class="col-6">
                    <!--data-ng-minLength="1" data-ng-model="createrprofilefields.observacion" required highlight-on-error -->
                    <textarea [(ngModel)]="region.observacion_region" ng-thim="false" class="form-control"
                        formControlName="observacion" rows="4" id="tamaño-fuente-input">
                </textarea>
                    <span id="tamaño-fuente-alerta">{{250-region.observacion_region.length}} Caracteres restantes</span>
                    <!-- <div *ngIf="forma.controls['observacion'].errors?.maxlength" class="form-control-feedback">
                        Maximo {{forma.controls['observacion'].errors?.maxlength.requiredLength}} caracteres
                    </div>-->
                </div>
            </div>
        </div>
        <div id="caja-botones" class="form-group-row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <div class="col-md-8">
                <!--<button class="btn btn-outline-primary btn-lg" (click)="actualizarRegion()">
                    Actualizar
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <button [disabled]="!forma.valid" class="btn btn-outline-primary btn-lg" (click)=" edit ? actualizarRegion() : crearNuevaRegion()">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>