<div class="container animated fadeIn fast" id="main-container" id="fuente-general">
    <h1>Region</h1>
    <hr>
    <form [formGroup]="formRegion">
        <!-- Campo para nombre de la region -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre region</label>
            <div class="col-6">
                <input class="form-control" formControlName="nombre_region" type="text" autofocus id="textNombre"
                    id="tamaño-fuente-input">
                <div *ngIf="formRegion.controls['nombre_region'].errors?.required" class="form-control-feedback"
                    id="tamaño-fuente-alerta">
                    Este campo es requerido
                </div>
                <div *ngIf="formRegion.controls['nombre_region'].errors?.minlength" class="form-control-feedback"
                    id="tamaño-fuente-alerta">
                    Por lo menos {{formRegion.controls['nombre_region'].errors?.minlength.requiredLength}} caracteres
                </div>
            </div>
        </div>
        <!-- Campo para observaciones  -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Observacion</label>
            <div class="col-6">
                <textarea ng-thim="false" class="form-control" formControlName="observacion_region" rows="4"
                    id="tamaño-fuente-input">
               </textarea>
                <span id="tamaño-fuente-alerta">{{250-[formRegion.controls['observacion_region'].length]}} Caracteres
                    restantes</span>
                <div *ngIf="formRegion.controls['observacion_region'].errors?.maxlength" class="form-control-feedback">
                    Maximo {{formRegion.controls['observacion_region'].errors?.maxlength.requiredLength}} caracteres
                </div>
            </div>
        </div>
        <div id="caja-botones" class="form-group-row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <div class="col-md-8">
                <button [disabled]="!formRegion.valid" class="btn btn-outline-primary btn-lg" (click)="createRegion()">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>