<div class="container animated fadeIn fast" id="div-tabla" id="fuente-general">
  <button [routerLink]="['/ciudad/agregar_ciudad']" class="btn btn-outline-primary btn-lg">Nueva Ciudad</button>
  <br><br><br>
  <h3>Lista de Ciudades</h3>
  <form>
      <input type="search" name="search" aria-label="search" [(ngModel)]="searchText" autocomplete="off"
          placeholder="Buscar">&nbsp;&nbsp;
          
  </form>
  <br>
  <table class="table col-6 table-striped">
      <thead class="thead-dark">
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Nombre Region</th>
              <th scope="col">Obervacion</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let ciudad of listarciudades | filter:searchText">
              <td> {{ciudad.id_ciudad}} </td>
              <td> {{ciudad.nombre_ciudad}} </td>
              <td> {{ciudad.nombre_region}} </td>
              <td> {{ciudad.observacion_ciudad}} </td>
              <td>
                  <a [routerLink]="['/ciudad/editar_ciudad',ciudad.id_ciudad]" class="btn btn-outline-primary">
                      Editar
                  </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
  
