<div class="container animated fadeIn fast" id="main-container" id="fuente-general">
    <h1>Rango</h1>
    <hr>
    <form [formGroup]="formRank">
        <div class="form-group row">
            <label class="col-2 col-form-label">ID Rango</label>
            <div class="col-6">
                <input class="form-control" type="number" id="textId_rango"
                id="tamaño-fuente-input" disabled>
            </div>
        </div>
        <!-- Campo para nombre del rango -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre Rango</label>
            <div class="col-6">
                <input class="form-control" formControlName="nombre_rango" type="text" autofocus id="textNombre_Rango"
                    id="tamaño-fuente-input">
                <div *ngIf="formRank.controls['nombre_rango'].errors?.required" class="form-control-feedback"
                    id="tamaño-fuente-alerta">
                    Este campo es requerido
                </div>
                <div *ngIf="formRank.controls['nombre_rango'].errors?.minlength" class="form-control-feedback"
                    id="tamaño-fuente-alerta">
                    Por lo menos {{formRank.controls['nombre_rango'].errors?.minlength.requiredLength}} caracteres
                </div>
            </div>
        </div>
        <!-- Campo para rango minimo -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Valor minimo</label>
            <div class="col-6">
                <input class="form-control" formControlName="valorMinimo" type="text" autofocus id="textRango_Minimo"
                    id="tamaño-fuente-input">
                <div *ngIf="formRank.controls['valorMinimo'].errors?.required" class="form-control-feedback"
                    id="tamaño-fuente-alerta">
                    Este campo es requerido
                </div>
                <div *ngIf="formRank.controls['valorMinimo'].errors?.minlength" class="form-control-feedback"
                    id="tamaño-fuente-alerta">
                    Por lo menos {{formRank.controls['valorMinimo'].errors?.minlength.requiredLength}} caracteres
                </div>
            </div>
        </div>
        <!-- Campo para rango maximo -->
        <div class="form-group row">
            <label class="col-2 col-form-label"> Valor Maximo</label>
            <div class="col-6">
                <input class="form-control" formControlName="valorMaximo" type="text" autofocus id="textRango_Maximo"
                    id="tamaño-fuente-input">
                <div *ngIf="formRank.controls['valorMaximo'].errors?.required" class="form-control-feedback"
                    id="tamaño-fuente-alerta">
                    Este campo es requerido
                </div>
                <div *ngIf="formRank.controls['valorMaximo'].errors?.minlength" class="form-control-feedback"
                    id="tamaño-fuente-alerta">
                    Por lo menos {{formRank.controls['valorMaximo'].errors?.minlength.requiredLength}} caracteres
                </div>
            </div>
        </div>
        <!-- Campo para observaciones  -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Observacion</label>
            <div class="col-6">
                <textarea ng-thim="false" class="form-control" formControlName="observacion_rango" rows="4"
                    id="tamaño-fuente-input">
                    </textarea>
                <div *ngIf="formRank.controls['observacion_rango'].errors?.maxlength" class="form-control-feedback">
                    Maximo {{forma.controls['observacion_rango'].errors?.maxlength.requiredLength}} caracteres
                </div>
            </div>
        </div>
        <!-- Campo para region -->
        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Estacion</label>
                <div class="col-6">
                    <select class="form-control" type="number" id="textId_estacion"
                        id="tamaño-fuente-input">
                        <option *ngFor="let estacionRango of stationRank" value="{{estacionRango.id_estacion}}">
                            {{estacionRango.nombre_estacion}}
                        </option>
                    </select>
                </div>
            </div>
            <div id="caja-botones" class="form-group-row">
                <label class="col-1 col-form-label">&nbsp;</label>
                <div class="col-md-8">
                    <button [disabled]="!formRank.valid" class="btn btn-outline-primary btn-lg" (click)="createRank()">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>