<div class="container animated fadeIn" id="main-container">
    <h1>SANAMBIENTE</h1>
    
    <br>
    <div class="card" style="width: 68rem;">
        <img src="./assets/img/logo-principal.png" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text">
            Sanambiente S.A.S es la empresa con mejor conocimiento y dominio del tema ambiental, ocupando desde  1993 en Colombia el  primer lugar entre las empresas de su especialidad.</p>
        </div>
      </div>

</div>

